$primary: #616161;
body{
    background: $primary;
    margin-top: 70px;
    color: #fff;
}
.card{
    margin: 2px 0px;
    padding: 5px;
}
/*.card h4{
    float: left;
    padding-right: 5px;
}
#gramsOutput,#KilogramsOutput,#ozOutput{ display: inline-block; padding-top: 5px;}
*/.card{
    background: #023eee;
}
.card-danger{
    background: #ee023d;
}
.card-success{
    background: #4CAF50;
}